
/* inicio cadastro */

.header{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    width: 100%;
}

/* titulo do header */
.header h2{
    font-size: var(--titulo-secao-size);
    font-weight: var(--titulo-weight-6);
    text-align: center;
}



/* seta de voltar */
.header .back img{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 39px;
    height: 55px;
}


/* Passos do cadastro */
.passo-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.passo{
    
    background-color: var(--BG-PURPLE-Component-Hover);
    width: 78px;
    height: 34px;
    padding: 10px;
    border-radius: 10px;
    font-size: var(--legenda-size);
    font-weight: var(--titulo-weight);
}



/* Titulo do formulario: Dados pessoais */

.dados-titulo{
    margin-bottom: 13px;
    font-size: var(--paragrafo-size);
    font-weight: var(--titulo-weight-4);
}


/* Formulario */
.cadastro-form {
    margin: 10px auto;
    padding: 10px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

/* Inputs cadastro */

input[type="text"],
input[type="email"],
input[type="password"],
select {
    position: relative;
    
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--Borda-Gray-Sutil-Interativa);
    background-color: var(--BG-Gray-1);
    border-radius: 5px;
    width: 100%;
    height: 3.125rem;
    color: var(--Solid-Gray-Normal);
}



.etapa-cadastro{
    margin:60px 0;
    position: relative;;
}



.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}

/* .linha-cadastro{
    position: relative;
    height: 10px;
    width: 15.438rem; 
    border-radius: 20px;
    background: linear-gradient(to right, transparent -50%, var(--Solid-PURPLE-Normal),var(--Solid-Gray-Normal) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.circulo{
    background-color: var(--Solid-PURPLE-Normal);
    border-radius: 50px;
    height: 20px;
    width: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


#btn-cadastro{
    margin-top: 60px;
    width: 100%;
    height: 3.125rem;
    background-color:var(--Solid-PURPLE-Normal);
    color: var(--BG-Purple-1);
    border: none;
    border-radius: 5px;
    font-size: var(--paragrafo-size);
    font-weight: var(--titulo-weight-4);

}



/* ========== cadastro2 =========== */



/* Inputs endereço modificaçoes */
.endereco-row {
    display: flex;
    justify-content: space-between;
    gap:10px;
   
}

#numero,
#uf{
  width: 100%;
}


#uf,
#bairro{
    margin-right: 12px;
}

#bairro,
#cidade{
    width:100%; 

}


/* eyes password */


.senha-group{
    position: relative;
}

 .senha-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--Solid-Gray-Normal);
  }




/* Checkbox: termos de compromisso */
.checkboxes{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--legenda-size);

}
.checkboxes a{
    color: var(--Text-PURPLE-Baixo-Contraste);
    text-decoration: underline;
}

/* botao de concluir cadastro */
#btn-cadastro2{
    margin-top: 60px;
    width: 100%;
    height: 3.125rem;
    background-color:var(--Solid-PURPLE-Normal);
    color: var(--BG-Purple-1);
    border: none;
    border-radius: 5px;
    font-size: var(--paragrafo-size);
    font-weight: var(--titulo-weight-4);

}


