body{
    background-color: var(--BG-Purple-1);
    height: 100%;
}
.header-index{
    margin-top: 50px;
    margin-left: 16px;
    height: 15vh;
}
.titulo-index{
    font-size: var(--titulo-size);
    font-weight: var(--titulo-weight-7);
    color: var(--Solid-PURPLE-Normal);
}
.subtitulo-index{
    font-size: var(--Subtitulo-size);
    font-weight: var(--titulo-weight-5);
    color: var(--Text-PURPLE-Baixo-Contraste);
}

.rideshare-index{
    margin-top: 40px;
    margin-left: 75px;
    z-index: 999;
}
.background-main {
    position: relative;
    height: 80vh;
}

.background-index{ 
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100%;
}

.buttons-index{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 2.25rem;
    z-index: 999;
}

#btn-entrar,
#btn-cadastrar{
    width: 21.375rem;
    height: 3.125rem;
    margin-bottom: 20px;
    border-radius: 5px;
}

#btn-entrar{
    background-color: var(--BG-Purple-1);
    color: var(--Text-PURPLE-Baixo-Contraste);
    border: none;
    font-size: var(--paragrafo-size);
    font-weight: var(--titulo-weight-5);
}

#btn-cadastrar{
    color: var(--BG-Purple-1);
    background-color: transparent;
    border: none;
    font-size: var(--paragrafo-size);
    font-weight: var(--titulo-weight-5);
}
